
html {
    background-color: #a5c4dc;
}

body {
    margin: 0;
}

p, a, h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
}

p, a {
    font-size: 1em;
}

a:link, a:visited, a:hover, a:active {
    color: dodgerblue;
    text-decoration: none;
}
