<!doctype html>
<html>
    <head lang="de">
        <meta charset="utf-8">
        <meta name="description" content="András Bögöly Persönliche Homepage">
        <meta name="keywords" content="András Bögöly">
        <meta name="author" content="András Bögöly">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--[if lte IE 9 ]><link rel="stylesheet" href="/style-ie.css"><![endif]-->
        <link rel="alternate" hreflang="en" href="bogolyandras.com" />
        <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon.png">
        <link rel="icon" type="image/png" href="/icon/favicon.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="darkslategray">
        <meta name="msapplication-TileImage" content="/icon/ms-icon.png">
        <meta name="theme-color" content="darkslategray">
        <title>András Bögöly - Persönliche Homepage</title>
    </head>
    <body>
        <!--[if lte IE 9 ]><table align="center"><tbody><tr><td><![endif]-->
        <div class="navigation">
            <div class="container">
                <table class="collapse">
                    <tr>
                        <td class="navigation-left">
                            <ul>
                                <li><a href="/de/">Home</a></li>
                            </ul>
                        </td>
                        <td class="navigation-right">
                            <ul>
                                <li><a href="/">English</a></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="title-skeleton">
            <div class="container">
                <div class="title">
                    <h1>Willkommen in meiner Welt!</h1>
                    <p>Hier können Sie einige interessante Sachen gefunden haben. Obwohl ist hier nicht viele Dinge zu endecken, können Sie sich umsehen.</p>
                </div>
            </div>
        </div>

        <div class="album-skeleton">
            <div class="container">
                <table class="collapse album">
                    <tbody>
                        <tr>
                            <td>
                                <a href="https://www.flickr.com/photos/bogolyandras/14361853906" title="Sleeping Kitten"><img src="https://c3.staticflickr.com/4/3917/14361853906_9df07f909f_n.jpg" width="320" height="180" alt="Sleeping Kitten"></a>
                            </td>
                            <td>
                                <a href="https://www.flickr.com/photos/bogolyandras/13543664355" title="Aranyfa by András Bögöly, on Flickr"><img src="https://c2.staticflickr.com/4/3751/13543664355_f01064fa4a_n.jpg" width="320" height="180" alt="Aranyfa"></a>
                            </td>
                            <td>
                                <a href="https://www.flickr.com/photos/bogolyandras/13454067423" title="Waterfall by András Bögöly, on Flickr"><img src="https://c2.staticflickr.com/8/7409/13454067423_04ab2f2f60_n.jpg" width="320" height="180" alt="Waterfall"></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="https://www.flickr.com/photos/bogolyandras/13842086385" title="Salad"><img src="https://c2.staticflickr.com/8/7299/13842086385_fe5ae0c52a_n.jpg" width="320" height="240" alt="Salad"></a>
                            </td>
                            <td>
                                <a href="https://www.flickr.com/photos/bogolyandras/14592209397" title="Niederösterreich"><img src="https://c6.staticflickr.com/4/3856/14592209397_87644c58b0_n.jpg" width="320" height="240" alt="Niederösterreich"></a>
                            </td>
                            <td>
                                <a href="https://www.flickr.com/photos/bogolyandras/13364086264" title="Wagrain Mountains by András Bögöly, on Flickr"><img src="https://c2.staticflickr.com/8/7124/13364086264_61b39ac3a6_n.jpg" width="320" height="240" alt="Wagrain Mountains"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="referencelist">
            <div class="container">
                <p>Folgen Sie mir bei</p>
                <p>
                    <a href="https://www.linkedin.com/in/bogolyandras"><img src="/icon/linkedin.png" alt="LinkedIn"></a>
                    <a href="https://instagram.com/bogolyandras"><img src="/icon/instagram.png" alt="Instagram"></a>
                    <a href="https://www.flickr.com/photos/bogolyandras"><img src="/icon/flickr.png" alt="Flickr"></a>
                </p>
            </div>
        </div>
        <!--[if lte IE 9 ]></td></tr></tbody></table><![endif]-->
    </body>
</html>