

table.collapse tr {
    vertical-align: top;
}

ul.section {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.weblink {
    list-style: none;
    padding: 0 5px 10px 5px;
}

ul.section h1 {
    margin: 2px;
}

.weblink li {
    padding: 0.5rem;
    border-bottom: black dotted 1px;
}

