
table.collapse {
    display: table;
}

.collapse tbody {
    display: table-row-group;
}

.collapse tr {
    display: table-row;
}

.collapse td {
    display: table-cell;
}

.table tbody tr {
    line-height: 0;
}

@media screen and (max-width: 700px) {

    .collapse, .collapse tbody, .collapse tr, .collapse td {
        display: block;
    }

}